@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f051d;
  --foreground: #e4e4ff;
  --primary: #9d4edd;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] min-h-screen;
}